.inactive {
	stroke: #333333;
	fill: #FFFFFF;
}

.intransitto {
	-webkit-animation: pulse 2s linear infinite;
}
.incomingat {
	-webkit-animation: pulse 0.5s linear infinite;
}
.stoppedat {
	stroke-width: 2px;
}

@-webkit-keyframes pulse {
	0% {
		opacity:1.0;
	}
	100% {
		opacity:.25;
	}
}

.line1, .line2, .line3 {
	stroke: #EE352E;
	fill: #EE352E;
}

.line4, .line5, .line6 {
	stroke: #00933C;
	fill: #00933C;
}

.lineg {
	stroke: #6D6E71;
	fill: #6D6E71;
}

.linel {
	stroke: #A7A9AC;
	fill: #A7A9AC;	
}