.station {
	fill: none;
	stroke: #cccccc;
	z-index: -1000;
}

.intransitto {
	/*-webkit-animation: pulse 2s linear infinite;*/
	fill: none !important; 
	stroke-width:1px !important;
	z-index:10;
}
.incomingat {
	-webkit-animation: pulse 0.5s linear infinite;
	z-index:20;
}
.stoppedat {
	stroke-width: 2px;
	z-index:30;
}

@-webkit-keyframes pulse {
	0% {
		opacity:1.0;
	}
	100% {
		opacity:.25;
	}
}

.linea, .linec, .linee {
	stroke: #2850AD;
	fill: #2850AD;
}

.lineb, .lined, .linef, .linem {
	stroke: #FF6319;
	fill: #FF6319;
}

.linen, .liner, .lineq {
	stroke: #FCCC0A;
	fill: #FCCC0A;
}

.lineg {
	stroke: #6CBE45;
	fill: #6CBE45;
}

.linej, .linez {
	stroke: #996633;
	fill: #996633;
}

.line1, .line2, .line3 {
	stroke: #EE352E;
	fill: #EE352E;
}

.line4, .line5, .line6 {
	stroke: #00933C;
	fill: #00933C;
}

.line7 {
	stroke: #B933AD;
	fill: #B933AD;
}

.lines {
	stroke: #808183;
	fill: #808183;
}

.linel {
	stroke: #A7A9AC;
	fill: #A7A9AC;	
}

.svgmap {
	fill: url(#bgmap);
}